/* CSS Document */
@font-face {
	font-family: HelveticaNeueCyr-Medium; /* имя шрифта для CSS правил */
	src: local("HelveticaNeueCyr-Medium"), /* проверяем наличие шрифта в ОС пользователя */
	url(../fonts/HelveticaNeueCyr-Medium.otf); /* если шрифт не установлен, тогда загружаем его по указанному пути */
}
  
@font-face {
	font-family: HelveticaNeueCyr-Italic; /* имя шрифта для CSS правил */
	src: local("HelveticaNeueCyr-Italic"), /* проверяем наличие шрифта в ОС пользователя */
	url(../fonts/HelveticaNeueCyr-Italic.otf); /* если шрифт не установлен, тогда загружаем его по указанному пути */
}

@font-face {
	font-family: HelveticaNeueCyr-Light; /* имя шрифта для CSS правил */
	src: local("HelveticaNeueCyr-Light"), /* проверяем наличие шрифта в ОС пользователя */
	url(../fonts/HelveticaNeueCyr-Light.otf); /* если шрифт не установлен, тогда загружаем его по указанному пути */
}
  
html, body {
	margin:0;
}

h1 {
	font-family:HelveticaNeueCyr-Light;
	font-size:30px;
	color:#888ea0;
}
.head {
	width:100%;
	height:155px;
	background:url(../images/header_bg.png) repeat-x;
	display:block;
}

.archive {
	float:left;
	margin-left:50px;
	margin-top:50px;
}

.logo {
	float:right;
	margin-right:30px;
	margin-top:30px;
}

header {
	margin:0px;
	padding:0px;
	display:block;
}

nav {
	background-color:#414759;
	height:70px;
	display:block;
}

.main_menu {
	float:left;

	width:auto;
}

.main_menu_list {
	list-style:none;
		margin-left:-40px;
		padding:0px;
		margin: auto;
}

.main_menu_list li {
	font-family:Gotham, "Helvetica Neue", Helvetica, Arial, sans-serif;
	font-style:italic;
	font-size:14px;
	display:inline;
	border-right:1px solid #383d49;
	line-height:70px;
	padding-top:25px;
	padding-bottom:25px;
	padding-left:20px;
	padding-right:20px;
	
}

.main_menu_list li a {
	color:#caced8;
}

.main_menu_list li.home {
	background-color:#3b4050;
	border:none;
	padding-left:20px;
	padding-right:20px;



	
}

.search {
	float:right;
	height:70px;
	width:260px;
	
}

.search_form {
	width:180px;
	height:25px;
	border:none;
	margin-left:30px;
	margin-top:22px;
	font-style:italic;
	padding-left:10px;
	padding-right:10px;
}

.search_button {
	background:url(../images/search_button.png) no-repeat;
	width:20px;
	height:20px;
	border:none;
	cursor:pointer;
	position:relative;
	margin-right:35px;
	margin-top:-22px;
	float:right;
}

.middle {
	margin-top:0px;
	padding:0px;
	 box-shadow: 0px 7px 33px 5px #b4b4b4;
	 height:100% !important;
}

aside {
	width:340px;
	min-height:424px;
	height:100% !important;
	float:left;
	display:block;
	background:url(../images/aside_bg.png) repeat-y;
	margin-right:35px;
}

.content {
	padding-top:35px;
	padding-bottom:35px;
	margin-right:35px;
	margin-bottom:35px;
	width:100%;
	height:100% inherit;
	
	font-family:HelveticaNeueCyr-Light;
	font-size:14px;
	line-height:22px;
	

}

.new_number_magazine {
	text-align:center;
	width:252px;
	
	margin:60px auto;
}

.magazine_cover {
	line-height:194px;
	background:url(../images/new_magazine_bottom.png) bottom no-repeat;
}

.magazine_number_title {
	margin-top:-50px;
	font-family:Constantia, "Lucida Bright", "DejaVu Serif", Georgia, serif;
	font-style:italic;
	color:#555555;
	font-size:16px;
}

.magazine_number_title a{
	font-family:HelveticaNeueCyr-Light;
	font-size:23px;
	color:#097bbb;
	font-style:normal;
}

.block_popular {
	width:100%;
	margin:0px 35px;
}

.popular_title {
	font-family: HelveticaNeueCyr-Light;
	color:#888ea0;
	font-size:24px;
}

.popular_articles {
	margin-top:20px;
	margin-bottom:20px;
	margin-right:35px;
}

.popular_article {
	margin-top:20px;
}

.article_title a {
	color:#097bbb;
	font-family: HelveticaNeueCyr-Medium;
}

.article_content {
	font-family: HelveticaNeueCyr-Light;
	color:#888ea0;
	font-size:12px;
	line-height:16px;
	margin-top:15px;
}

.content h2 {
	font-family:HelveticaNeueCyr-Light;
	font-size:27px;
	color:#888ea0;
}

.list_main li {
    color: #03a4df; /* Цвет маркеров */
	padding-bottom:10px;
   }
.list_main li span {
    color: #555555; /* Цвет текста */
   }